body{
    font-family: 'Merriweather', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.Orange-color{
    color: rgb(232, 169, 51);
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(coral, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.my-journey{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-wid{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
    box-shadow: 10px 10px 40px rgb(63, 63, 63);
    
   
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
    
}
.c{
    text-align: center;
  }
  #Front-End-Developer{
    border-left: 7px solid rgb(230, 98, 50);
  }
  #Junior{
    border-left: 7px solid rgb(86, 136, 235);
  }